[ req ]
default_bits       = 2048
prompt             = no
default_md         = sha256
distinguished_name = req_distinguished_name
req_extensions     = v3_req

[ req_distinguished_name ]
C  = SE
ST = STHM
O  = PersonalProjects
CN = 192.168.0.124

[ v3_req ]
subjectAltName = @alt_names

[ alt_names ]
IP.1 = 192.168.0.124